* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: #EE6C4D;
    display: flex;
    justify-content: space-between;
    align-items:center;

}

h1 {
    color: #E0FBFC;
}

span{
    color: #EE6C4D;
}

nav {
    background-color: #E0FBFC;
    width: 20%;
    padding: 10px;
    text-align: center;
}

nav span {
    margin: 0 15px;

}

main{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

section {
    color: #E0FBFC;
    width: 30%;
    background: #EE6C4D;
    margin: 20px;
    padding: 20px;
    border: 2px solid ;
    border-radius: 12px;
}

@media screen and (max-width: 768px){
    header {
        flex-direction: column;
        text-align: center;
    }
    
    nav span {
        margin: 20px 0
    }
    
}

@media screen and (max-width: 1024px){

    nav {
        width: 30%;
    }
    
}